# API
fastapi
uvicorn
pydantic

# ML
scikit-learn
xgboost
pandas
numpy
joblib

# MLflow
# Require a recent mlflow with 'models from code' support
mlflow>=2.12.2
skops

# AWS
boto3
sagemaker

# Tests
pytest
httpx

# Utils
python-dotenv